<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyección de Vencimientos</title>
</head>
<body>

    <h1>Aeronaves</h1>
    <ul>
        {% for matricula in aeronaves %}
            <li><a href="{{ url_for('aeronave', matricula=matricula) }}">{{ matricula }}</a></li>
        {% endfor %}
    </ul>
    
    <h2>Gráfico de Vencimientos</h2>
    <canvas id="vencimientosChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const vencimientos = {{ vencimientos | tojson }};
        const labels = vencimientos.map(item => item.fecha);
        const data = vencimientos.map(item => item.Rem_Limiter);

        const ctx = document.getElementById('vencimientosChart').getContext('2d');
        const vencimientosChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Proyección de Vencimientos',
                    data: data,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    
    
</body>

<feet>
    <h2><a href="{{ url_for('motores_desinstalados') }}">Motores Desinstalados</a></h2>
</feet>
</html>
