<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motores Desinstalados</title>
</head>
<body>
    <h1>Motores Desinstalados</h1>

    {% if motores %}
    <table border="1">
        <thead>
            <tr>
                <th>P/N</th>
                <th>S/N</th>
                <th>EGT Limit</th>
                <th>LLP Limit</th>
                <th>Status</th>
                <th>Time Since Last PR</th>
                <th>Cycles Since Last PR</th>
                <th>TSN</th>
                <th>CSN</th>
                <th>Rem Limiter</th>
                <th>Fecha Estimada de Vencimiento</th> <!-- Nueva columna Fecha Estimada de Vencimiento -->
            </tr>
        </thead>
        <tbody>
            {% for motor in motores %}
            <tr>
                <td>{{ motor['P/N'] }}</td>
                <td>{{ motor['S/N'] }}</td>
                <td>{{ motor['EGTLimit'] if 'EGTLimit' in motor else 'No disponible' }}</td>
                <td>{{ motor['LLPLimit'] if 'LLPLimit' in motor else 'No disponible' }}</td>
                <td>{{ motor['Status'] }}</td>
                <td>{{ motor['TSO'] }}</td>
                <td>{{ motor['CSO'] }}</td>
                <td>{{ motor['TSN'] }}</td>
                <td>{{ motor['CSN'] }}</td>
                <td>{{ motor['RemLimiter'] }}</td>
                <td>{{ motor['FechaVencimiento'] }}</td> <!-- Mostrar Fecha Estimada de Vencimiento -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay motores desinstalados disponibles.</p>
    {% endif %}
    <a href="{{ url_for('index') }}">Volver</a>
</body>
</html>
